<!DOCTYPE html>
<html lang="en">
    <head>
      <h1>WELCOME TO THE BURGER WEBSITE</h1>
        <title>KARLOS BURGERS</title>
        <meta charset="utf-8"/>
    </head>

    <body>
<h3>SELECT YOUR BURGER BELOW </h3>
<h5>This is where your BURGERING begins</h5></br>

<h4>COW BURGER</h4>
<img src="http://res.cloudinary.com/simpleview/image/upload/v1424716210/clients/newark/Burger-Bound_300x300--Best-Burgers-_2d092958-f0ae-5102-0972f4419218d1ea.jpg"</br>
<ul>
    <li>100% BEEF BURGER</li>
    <li>ONLY PICKLED ONIONS</li>
    <li>BRIOCHE</li>
</ul>
<h2> Customer information</h2></br>
<h3>This is where you provide important information</h3>





    </body>
</html>
