@import 'https://fonts.googleapis.com/css?family=Pacifico|Dosis'

body {
  font-family: Arial;
}
.allergi {
  font-weight: bold;

}

@media screen and (max-width: 800px) {
    h1 {
        font-size: 6vw;
    }
}

.wrapper {
     display: grid;
     grid-gap: 10%;
     grid-template-columns: 30% 30% 30%;
     background-color: black;
     color: FloralWhite;
     margin-left: 5%;
     margin-top: 0;

 }

 .wrapper img {
   height: 300px;
   width: 300px;
 }

 .box {
     background-color: #444;
     color: #fff;
     border-radius: 5px;
     padding: 20px;
     font-size: 150%;

 }

 .COWBURGER {
     grid-column: 1 / span 2;
     grid-row: 1;
 }
 .LEAFBURGER {
     grid-column: 2 ;
     grid-row: 1 / span 2;
 }
 .HYBRIDBURGER {
     grid-column: 3 ;
     grid-row: 1 ;
 }




.bakgrund{

  height: 500px;
  overflow: hidden;
  border-color: DarkRed;
  position:relative;
  display: flex;
    align-items: center center; /* vertical */
    justify-content: center; /* horizontal */
}

.bakgrund img{
  width: 100%;
  height: auto;
  opacity: 0.7;


  overflow: hidden;


}
.välkomsttext{
  position: absolute;
  color: FloralWhite;

  top: 100px;
  left: 150px;
}


.table{
  margin: 0 auto;
  width: 33%;
  border: 50px;;
  border: 10px outset red;
}

.fix{
  width: 33%;
  padding:50px;
}


#innehåll{
  background-color: black;
  color:white;
  text-transform: uppercase;
  width:100%;

  border: 10px outset red;

}

#contact {
  border: 10px outset red;
}


button:hover {
  color:white;
  background-color: magenta;
}
